.container.mission-home-section {
    padding: 2rem 0;
}

.mission-home {
    h4 {
        color: #00AC83;
    }
}

.mission-border {
    border-bottom: 2px solid #2A3746;
    margin: 3rem 0;
    max-width: 98%;
}